* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header div.logo {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 400px;
          flex: 5 1 400px;
}

header div.logo img {
  width: 6vw;
  height: 6vw;
}

header nav {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 400px;
          flex: 2 1 400px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li a {
  color: #0f9e9e;
  text-decoration: none;
  font-size: 1.35rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section.backImage {
  min-height: 90vh;
  width: 100%;
  background-image: url("../Pictures/pexels-photo-416676.jpeg");
  background-size: cover;
  background-position: center;
}

main section.backImage div.filter {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

main section.backImage div.filter h3 {
  color: white;
  font-size: 3.5rem;
  margin: 2rem 0rem;
}

main section.backImage div.filter button.start {
  background-color: #00e7cb;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

main section.second {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main section.second .theme {
  color: #0f9e9e;
}

main section.second h2 {
  font-size: 2rem;
}

main section.second section.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-height: 75vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.second section.cards div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

main section.second section.cards div.card div.image-container {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

main section.second section.cards div.card div.image-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

main section.second section.cards div.card div.image-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main section.second section.cards div.card h4 {
  margin: 0.5rem 0rem;
  font-size: 2rem;
}

main section.second section.cards div.card p {
  margin: 0.5rem 0rem;
  font-size: 1.25rem;
}

main section.second section.cards div.card a {
  margin: 0.5rem 0rem;
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: #0b7575;
  color: white;
  font-size: 1.25rem;
}

main footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d3d3d3;
  min-height: 30vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main footer div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main footer div.logo img {
  width: 60px;
  height: 60px;
}

main footer nav {
  width: 20%;
}

main footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main footer nav ul li {
  margin: 0rem 1rem;
}

main footer nav ul li a {
  color: #6f6e6e;
  text-decoration: none;
  font-size: 1.35rem;
}

main footer section.links a {
  margin: 0rem 1rem;
}

main footer section.links a img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 550px) {
  header div.logo {
    margin-left: 0.5rem;
  }
  header div.logo img {
    width: 10vw;
    height: 10vw;
  }
}
/*# sourceMappingURL=style.css.map */