$backgroundURL: url("../../public/images/background2.jpeg");

.background {
  background-image: url("../../public/images/background2.jpeg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

div.animation {
  background-image: url("../../public/images/background2.jpeg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
