* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Rubik Bubbles', cursive;
  font-family: 'Ubuntu Mono', monospace;
  background-color: blanchedalmond;
}

button {
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Rubik Bubbles', cursive;
  font-family: 'Ubuntu Mono', monospace;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.morePicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

.morePicture button {
  padding: 0.25rem 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: maroon;
  color: white;
  cursor: pointer;
}

nav {
  background-color: #dc5a09;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Rubik Bubbles', cursive;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 3rem;
}

nav ul li {
  padding: 0.5rem 1rem;
}

nav ul li a {
  color: white;
  font-size: 1.5rem;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0rem;
}

.search input, .search button {
  font-size: 2rem;
  padding: 0.25rem;
  border: 3px solid #f2b885;
}

.search button {
  margin: 0.5rem;
  padding: 0.4rem;
  background-color: #9a4f16;
  color: white;
  cursor: pointer;
}

.searchitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  font-size: 1.5rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background-color: #f4cda7;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pictures .picture {
  padding: 1rem;
  width: 400px;
}

.pictures .picture .imageContainer {
  overflow: hidden;
  height: 40vh;
}

.pictures .picture .imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pictures .picture .imageContainer img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
/*# sourceMappingURL=style.css.map */